<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="file" fileName="/tmp/logs/sdm.log" filePattern="/tmp/logs/sdm-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20M" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.simpletour" level="DEBUG">
            <AppenderRef ref="file"/>
            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>
</Configuration>